body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
#tableau-articles button {
  width: 19%;
  height: 100px;
}
#tableau-categories button {
  width: 100%;
  height: 125px;
}
.cancel-btn {
	width: 100%;
	height: 50px;
	margin-bottom: .1em;
}
#table-panier {
	width: 100%;
	table-layout: fixed;
}
#table-panier th.nom {
	width: 70%;
}
#table-panier th.qte {
	width: 10%;
}
#table-panier th.prix {
	width: 20%;
}
/*#status {
	display: none;
	background: #fff;
	top: 100px;
	left: 30%;
	width: 40%;
	height: 200px;
	position: absolute;
	z-index: 42;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}*/
#status {
  margin-top: 10px;
}

#status.error {
  background: #ff0000;
  color: #fff;
}

#applet {
  margin-top: 400px;
}