<!DOCTYPE html>
<html ng-app="mozartApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>mozart by payutc</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="payutc">
    <link href="css/loading.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="MsgCtrl">
    <div class="container fill" ng-hide="ready" ng-init="ready=false">
      <div id="circleG">
        <div id="circleG_1" class="circleG"></div>
        <div id="circleG_2" class="circleG"></div>
        <div id="circleG_3" class="circleG"></div>
      </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="fluid-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">mozart by payutc</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <form class="navbar-form navbar-right">
            <button type="button" id="btnlogout" class="btn btn-danger" ng-click="onLogoutClick()">Déconnexion</button>
          </form>
          <ul class="nav navbar-nav navbar-right" ng-controller="UserCtrl">
            <li id="time"></li>
            <li><a href="#">{{ currentTime }}</a></li>
            <li><a href="#">{{ username }}</a></li>
            <script type="text/ng-template" id="modalNewApp.html">
              <div class="modal-header">
                <h3>Déclaration d'une nouvelle application</h3>
              </div>
              <div class="modal-body">
                <p>Cette application n'est pas encore déclaré.</p>
                <form novalidate class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Titre</label>
                  <div class="col-sm-10">
                    <input type="text" ng-model="app.title" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <input type="text" ng-model="app.desc" class="form-control" />
                  </div>
                </div>
                  <button class="btn btn-default" ng-click="reset()">RESET</button>
                  <button class="btn btn-primary" ng-click="declare(app)">Enregistrer</button>
                </form>
              </div>
            </script>
          </ul>
        </nav>
        </div>
      </div>
    </div>

    <div class="fluid-container fill ng-cloak" ng-controller="ArticleCtrl" ng-hide="!ready">
      <div class="row fill">
        <div class="col-md-4" style="height: 100%;">
          <div class="col-md-12">
            <table class="table table-striped" id="table-panier">
              <thead>
                <tr>
                  <th class="nom">Nom</th>
                  <th class="qte">Qté</th>
                  <th class="prix">Prix</th>
                </tr>
              </thead>
              <tbody id="lignes"> 
                <tr ng-repeat="cartItem in cart.items">
                  <td> {{ cartItem.name }} </td><td> {{cartItem.quantity}} </td><td> {{cartItem.price * cartItem.quantity / 100}} € </td>
                </tr>
                <tr><td><b>Total : {{cart.getTotalCount()}}</b> Articles</td><td></td><td><b>{{cart.getTotalPrice() / 100}} €</b></td></tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12" style="position: absolute; bottom:0px;">
              <button class="btn btn-primary btn-large cancel-btn" ng-click="resetCart()" id="effacertout">Effacer toutes les lignes</button>
              <button class="btn btn-primary btn-large cancel-btn" id="annultransac" ng-click ="cancelLastOperation()">Annuler la dernière opération</button>

              <div ng-controller="StateCtrl" id="status" class="well" style="background-color: {{ state_bgcolor }};
border: 1px solid {{ state_bordercolor }};" >
                {{state}}
                <script type="text/ng-template" id="modalUser.html">
                  <div class="modal-header">
                    <h3>{{ user.firstname }} {{ user.lastname }}</h3>
                    <p>Solde : {{ user.solde / 100 }} €</p>
                  </div>
                  <div class="modal-body">
                    <table class="table table-striped">
                      <thead>
                        <th>Article</th><th>Quantité</th><th>Prix</th><th></th>
                      </thead>
                      <tbody>
                        <tr ng-repeat="last in user.last_purchases"><td>{{ store.products[last.obj_id].name }}</td><td>{{ last.pur_qte }}</td><td>{{ last.pur_price / 100 }} €</td><td><button class="btn btn-danger" ng-click="cancelTransaction(last.pur_id)">Annuler</button></td></tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-primary" ng-click="modalInstance.close()">Fermer</button>
                  </div>
                </script>
              </div>
          </div>
        </div>
      
        <div class="col-md-2 fill" id="tableau-categories">
          <button class="btn btn-default" ng-repeat="cat in store.first_cat" ng-click="store.catClick(cat.id)" ng-class="{'active': cat.id == store.cat_selected}">{{ cat.name }}</button>
        </div>
      
        <div class="col-md-6 fill" id="tableau-articles">
          <button class="btn btn-default" ng-repeat="art in store.products" ng-click="artClick(art.id)" ng-if="art.super_parent == store.cat_selected" style="background: no-repeat center center url(http://localhost/server/web/POSS3/getImage64?img_id={{art.image}}&encode=0); background-size:contain;" ><span ng-if="!art.image" >{{ art.name }}</span></button>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->
    
    <div class="modal hide fade" id="BuyerInfo">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Infos carte</h3>
      </div>
      <div class="modal-body">
        <p id="infodata"></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary btn-large" data-dismiss="modal">Fermer</a>
      </div>
    </div>

    <div ng-controller="FunCtrl">
      <script type="text/ng-template" id="modalFunCtrl.html">
        <div class="modal-header">
          <h3>Choix de fundation</h3>
        </div>
        <div class="modal-body">
          <p>Vous avez les droits sur plusieurs fundations, merci de choisir celle pour laquelle vous voullez vendre :</p>
          <ul >
            <li ng-repeat="fun in fundations" class="ng-cloak" ng-click="funChoice(fun.fun_id)" >
              <button class="btn btn-primary">{{ fun.name }}</button>
            </li>
          </ul>  
        </div>
      </script>
    </div>

    <script type="text/ng-template" id="modalCritError.html">
      <div class="modal-header">
        <h3>Erreur Critique</h3>
      </div>
      <div class="modal-body">
        <p>L'erreur suivante à eu lieu :
        <pre>{{ critError }}</pre>
        Si vous ne savez pas quoi faire, demandez à un responsable. Dans le cas ou aucun responsable n'est présent, vous pouvez essayer d'utiliser le bouton "déconnexion" et réessayer de vous connecter.</p>
        <button class="btn btn-danger" ng-click="onLogoutClick()">Déconnexion</button>
      </div>
    </script>

    <script src="js/dependencies/angular.min.js"></script>
    <script src="js/dependencies/angular-local-storage.js"></script>
    <script src="js/dependencies/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/config/config.js"></script>
    <script src="js/app/services/jcappucino_service.js"></script>
    <script src="js/app/controllers/article_controller.js"></script>
    <script src="js/app/controllers/state_controller.js"></script>
    <script src="js/app/controllers/fundation_controller.js"></script>
    <script src="js/app/controllers/user_controller.js"></script>
    <script src="js/app/controllers/message_controller.js"></script>
    <script src="js/app/services/mrequest.js"></script>
    <script src="js/app/services/data_service.js"></script>
    <script src="js/app/services/picasso_business_logic/product.js"></script>
    <script src="js/app/services/picasso_business_logic/store.js"></script>
    <script src="js/app/services/picasso_business_logic/shopping_cart.js"></script>
  </body>
</html>
